*,::after,::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; 
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(168, 103, 103), skyblue);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
